
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
     font-family: Arial;
}
.product {
    background-color: aqua;
    border-radius: 5px;;
    margin-top: 20px;
    margin-bottom: 0;
    max-width: 1100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 90px;
}
.main-image {
    margin-right: 530px;
    margin-top: 50px;
    background-color: #eae0e0;
    padding: 60px 120px;
    z-index: 999;
    cursor: pointer;
}
.main-image:hover {
  scale: 1.1;
  border-radius: 10px;;
}
.colors .border img {
    padding: 7px;
    border-radius: 2px dotted green;
    z-index: 999;
    cursor: pointer;
}
.details {
   position: absolute;
   right: 120px;
   top: 80px;
}
.details h3 {
    font-size: 2rem;
    font-family: Arial;
}
.details .red {
   font-size: 1.1rem;
   color: red;
   margin-top: 7px;
}
.details .beside {
   position: absolute;
   left: 72px;
   top: 47px;
   font-size: .8rem;
}
.container {
    position: relative;
}
#yel {
    color: yellow;
    font-size: .8rem;
    margin-top: 8px;
    margin-bottom: 0;
}
.line {
    color: grey;
    position: relative;
    top: -8px;
}
.line2 {
    color: grey;
    position: relative;
    top: -8px;
}
h5 {
 margin-top: 1px;
 margin-bottom: 7px;
 color: rgb(40, 39, 39)
}
h6 {
    margin-top: 15px;
    font-size: .9rem;
}
.black {
    background-color: black;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 56px;
    top: 70px;
    cursor: pointer;
}
.black:hover {
   scale: 1.3;
}
.white:hover {
   scale: 1.3;
}
.blue:hover {
   scale: 1.3;
}
.green:hover {
  scale: 1.3;
}
.white {
    background-color: white;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 82px;
    top: 70px;
    cursor: pointer;
}
.blue {
    background-color: blue;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 109px;
    top: 70px;
    cursor: pointer;
}
.green {
    background-color: green;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 138px;
    top: 70px;
    cursor: pointer;
}
.cont {
    display: flex;
    position: absolute;
    top: 70px;
    left: 185px;
}
.size {
    font-size: 1rem;
    margin: 0;
}
#chose {
    display: flex;
   margin-left: 27px;
}
#chose:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 191);
    outline: none;
}
.number {
    margin-left: 20px;
    outline: none;
}
.button {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    background: blue;
    padding: 9px 150px;
    border-radius:5px;
   position: relative;
   top: 13px;
   left: 10px;
   transition: .7s ease-in-out;
}
.button:hover{
    background-color: rgb(18, 18, 169);
}
.opinion {
    margin-top: 40px;
    margin-left: 20px;
    background-color: grey;
    max-width: 160px;;
    border-radius: 2px;
}
