
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
     font-family: Arial;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;;
}
.messg {
    font-size: 1.3;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
     background-color: rgb(3, 3, 191);
     padding: 10px;
    
}
.product {
    background-color: rgb(0, 128, 255);
    border-radius: 5px;;
    margin-top: 60px;
    margin-bottom: 0;
    max-width: 1100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 90px;
}
.main-image {
    margin-right: 530px;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 60px 120px;
    z-index: 999;
    cursor: pointer;
}
.main-image:hover {
  scale: 1.1;
  border-radius: 10px;;
  margin-top: 70px;
}
.colors .border img {
    padding: 0px;
    border-radius: 2px dotted green;
    z-index: 999;
    cursor: pointer;
}
.border {
    margin-top: 12px;
    margin-left: 80px;
}
.borders {
    margin-top: 12px;
    margin-left: 80px;
}
#cl1 {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
      margin-right: 10px;
}

#cl2 {
    border: 2px solid #fff;
    margin-right: 20px;
     padding: 5px;
}
#cl3 {
    border: 2px solid rgb(255, 255, 255);
      margin-right: 20px;
       padding: 5px;
}
#cl4 {
  border: 2px solid white;
  padding: 5px;
}
#cl1:hover {
    background-color: white;
    border-radius: 10px;
    transform: translateX(-20px);
}
#cl2:hover {
    background-color: white;
     border-radius: 10px;
    transform: translateY(-20px);
     
}
#cl3:hover {
    background-color: white;
      border-radius: 10px;
    transform: translateX(-20px);
}
#cl4:hover {
    background-color: white;
     border-radius: 10px;
    transform: translateY(-20px);
}
i {
    z-index: 999;
}
.details {
   position: absolute;
   right: 100px;
   top: 110px;
}
.details h3 {
    font-size: 2rem;
    font-family: Arial;
}
.details .red {
   font-size: 1.1rem;
   color: rgb(0, 0, 0);
   margin-top: 7px;
}
.details .beside {
   position: absolute;
   left: 72px;
   top: 47px;
   font-size: .8rem;
}
.container {
    position: relative;
}
.beside {
    color: red
}
h3 {
    color: white;
}
#yel {
    color: yellow;
    font-size: .8rem;
    margin-top: 8px;
    margin-bottom: 0;
}
.line {
    color: rgb(255, 255, 255);
    position: relative;
    top: -8px;
}
.line2 {
    color: rgb(255, 255, 255);
    position: relative;
    top: -8px;
}
h5 {
 margin-top: 1px;
 margin-bottom: 7px;
 color: rgb(0, 0, 0)
}
h6 {
    margin-top: 15px;
    font-size: .9rem;
}
.black {
    background-color: black;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 56px;
    top: 66px;
    cursor: pointer;
}
.blacks {
    background-color: yellow;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 56px;
    top: 66px;
    cursor: pointer;
}
.black:hover {
   scale: 1.3;
}
.white:hover {
   scale: 1.3;
}
.blue:hover {
   scale: 1.3;
}
.green:hover {
  scale: 1.3;
}
.white {
    background-color: white;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 82px;
    top: 66px;
    cursor: pointer;
}
.blue {
    background-color: blue;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 109px;
    top: 66px;
    cursor: pointer;
}
.green {
    background-color: green;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 138px;
    top: 66px;
    cursor: pointer;
}
.whites {
    background-color: green;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 82px;
    top: 66px;
    cursor: pointer;
}
.blues {
    background-color: brown;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 109px;
    top: 66px;
    cursor: pointer;
}
.greens {
    background-color: red;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 138px;
    top: 66px;
    cursor: pointer;
}
.pink {
     background-color: pink;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 82px;
    top: 66px;
    cursor: pointer;
}
.pink:hover {
    scale: 1.3;
}
.purple {
     background-color: purple;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 109px;
    top: 66px;
    cursor: pointer;
}
.purple:hover {
    scale: 1.3;
}
.brown {
     background-color: brown;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    left: 138px;
    top: 66px;
    cursor: pointer;
}
.brown:hover {
    scale: 1.3;
}

.cont {
    display: flex;
    position: absolute;
    top: 70px;
    left: 185px;
}
.size {
    font-size: 1rem;
    margin: 0;
}
#chose {
    display: flex;
   margin-left: 27px;
}
#chose:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 191);
    outline: none;
}
.number {
    margin-left: 20px;
    outline: none;
}
.number:hover {
  border: 2px solid white;
   background-color:  blue;
   color: white;
}
.qty {
    position: absolute;
    left: 185px;
    font-weight: bold;
}
.button {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    background: blue;
    padding: 9px 150px;
    border-radius:5px;
   position: relative;
   top: 13px;
   left: 10px;
   transition: .3s ease-in-out;
}
.button:hover{
    background-color: rgb(18, 18, 169);
}
.opinion {
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    max-width: 150px;;
    border-radius: 2px;
    z-index: 999;
}
.icon {
    display: flex;
    justify-content: center;
    gap: 18px;
    cursor: pointer;
}
#redd {
    color: black;
    font-size: .9rem;
    margin-left: 3px;;
    cursor: pointer;
}
.cta {
    margin-left: 4px;;
}
#whites {
    color: white;
}