*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: bisque;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  padding: 4px;
}
.logo {
    cursor: pointer;
}
.inputs {
  align-items: center;
   align-items: center;
}
.inputs .search {
 position: relative;
  left: 490px; 
  font-size: .9rem;
  color:rgb(0, 0, 0);
  top: 0px;
    cursor: pointer;
}
.inputs input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 500px;
}

.dropdowns #dropdown {
  font-size: .9rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color:rgb(24, 101, 232); ;
  cursor: pointer;
  margin-right: -123px;
}
.dropdowns #dropdown option {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 100px;
}
.container {
  margin-right: 35px;
  display: flex;
  gap: 13px;
   align-items: center;
}
i {
  color: rgb(24, 101, 232);
   display: flex;
  gap: 2px;
}
span {
  color: white;
  font-weight: 500;
}
