*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: bisque;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* START NAVBAR SECTION */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  padding: .2rem;
    width: 100%;
   position: sticky;
    top: 0;
    z-index: 1000;
}
.logo {
  background-image: url(/images/logo1.png);
    cursor: pointer;
    width: 170px;
}
.inputs {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

}
.inputs .search {
 position: absolute;
  left: 545px; 
  font-size: 1rem;
  color:rgb(0, 0, 0);
  top: 10px;
    cursor: pointer;
    z-index: 999;
}
.inputs .search:hover {
  color: rgb(24, 101, 232); 
}
.inputs input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 500px;
  position: relative;
  left: 80px;
}
input::placeholder{
  padding: 17px;
}
ul {
  overflow: hidden;
  background-color: rgb(24, 101, 232); 
  border-radius: 5px;
  list-style-type: none;
  margin-left: 150px;
}
li{
  float: left;
}
 li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 7px 16px;
text-decoration: none;
}

li a:hover, .drop-content:hover .dropbtn {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}
li.dropdown{
  display: inline-block;
}
.drop-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
}
.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .drop-content{
  display: block;
}

.container {
  margin-right: 35px;
  display: flex;
  gap: 13px;
   align-items: center;
   cursor: pointer;

}
i {
  color: rgb(255, 255, 255);
   display: flex;
  gap: 2px;
}

#blue {
  color: rgb(24, 101, 232);
  font-weight: 500;
}
/* END NAVBAR SECTION */

/* START HERO SECTION */
.bg {
  width: 100%;
  height: 600px;
  opacity: 0.9;
}
.container-1 {
  position: relative;
  z-index: 0;
}
.center {
  position: absolute;
  top: 200px;
  line-height: 5px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  left: 270px;
  justify-content: center;
  z-index: 999;
  color: rgb(255, 255, 255);
}
.center-1 {
  position: absolute;
  top: 240px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  left: 425px;
  justify-content: center;
  z-index: 999;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}
.center-2 {
  position: absolute;
  top: 320px;
  font-weight: 600;
  font-family: calibri;
  left: 570px;
  justify-content: center;
  z-index: 999;
}
.center-2 a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(24, 101, 232);;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.center-2 a:hover {
  color: rgb(11, 69, 169);
  background-color: white;
}
/* START HERO SECTION */

/* START CATEGORY SECTION  */

.SECTION {
  margin: 3vw;
  padding: 3vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
.SECTION  h3 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
}
.SECTION  p {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 13px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
.card {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex: 25%;

}
.product1 {
  margin-left: 10px;;
  background-color: rgb(24, 106, 178);
  max-width: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 18px;
  border-radius: 10px;
  align-items: center;
  position: relative;
   cursor: pointer;
}
.card .product1:hover {
  background-color: rgb(47, 154, 247);
  border: 3px solid white;
}
.card:hover i  {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
}
.name1 {
  position: absolute;
  left: 195px;
  top: 135px;
  right: 0px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}
 .name2 {
  position: absolute;
  left: 343px;
  top: 135px;
  right: 0px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}
.name3 {
  position: absolute;
  left: 523px;
  top: 140px;
  right: 0px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}
.name4 {
  position: absolute;
  left: 690px;
  top: 140px;
  right: 0px;
 font-size: 1.1rem;
 color: rgb(255, 255, 255);
}
.name5 {
  position: absolute;
  left: 873px;
  top: 140px;
  right: 0px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
} 

.arrow-1 {
  position: absolute;
  color: rgb(171, 0, 0);
  z-index: 999;
  left: 250px;
  top: 10%;
   cursor: pointer;
}
.arrow-2 {
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 999;
  left: 419px;
  top: 10%;
   cursor: pointer;
}
.arrow-3 {
  position: absolute;
  color: black;
  z-index: 999;
  left: 590px;
  top: 10%;
   cursor: pointer;
}
.arrow-4 {
  position: absolute;
  color: black;
  z-index: 999;
  left: 760px;
  top: 10%;
   cursor: pointer;
}
.arrow-5 {
  position: absolute;
  z-index: 999;
  left: 930px;
  top: 10%;
  cursor: pointer;
}

/* END CATEGORY SECTION */

/*  START POPULAR PRODUCT SECTION  */

.container-3 {
   margin: 3vw;
  padding: 3vw;
  margin-top: 70px;
  position: relative;
}
.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.heading h2 {
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
  font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
}

.heading p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  position: absolute;
  top: 55px;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
  left: 45%;
}
.container-holder {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.productcontainer1 {
  background-color: rgb(11, 11, 174);
  padding: 25px;
  border-radius: 5px;
  position: relative;
   cursor: pointer;
   transition: 0.4s ease;
}
.productcontainer1:hover {
   background-color: rgb(3, 3, 126);
}

.text {
  text-align: center;
  color: white;
}
.text h5 {
  font-size: 1.3rem;
  margin-top: 5px;
  font-weight: bold;
}
.text p {
  margin-top: 2px;
}

.button {
padding: 15px;
border-radius: 5px;
background-color: #2563EB;
text-decoration: none;
color: white;
font-size: .5rem;
top: 4%;
 left: 10px;
position: absolute;
}
.button:hover {
  background-color: #1E40AF;
  color: rgb(255, 255, 255);
  font-size: .8rem;
}

.more {
  position: absolute;
  top: 28%;
  left: 80%;
}
.details:hover {
    background-color: #1E40AF;
}
.details {
  padding: 13px;
  background-color: #2563EB;;
  border-radius: 10px;
 text-decoration: none;
 color: white;
 font-weight: 400;
 font-style: oblique;
 font-size: .9rem;
}

/*  END POPULAR PRODUCT SECTION  */



/*  START REASONS SECTION  */

.div {
  margin-top: 90px;
}
.div h3 {
  display: flex;
  justify-content: center;
  font-size: 3.1rem;
}
.div p {
  display: flex;
  justify-content: center;
  font-size: 1.15rem;
  font-weight: 300;
}
.reasons {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-content: center;
  gap: 1rem;
  padding: 60px;
  position: relative;
}
.cards {
  padding: 80px;
  border-radius: 10px;
  background-color: white;
  display: inline;
  justify-content: center;
  align-items: center; 
  transition: 0.2s ease-in-out;
}
.cards:hover {
  background-color:antiquewhite;
}

.cards h4 {
 display: flex;
 justify-content: center;
  align-items: center;
 font-size: 1.6rem;
}
.cards p {
 display: flex;
 justify-content: center;
 align-items: center;
}
.cent {
  position: absolute;
  top: 230px;
}
#one {
  position: absolute;
  font-size: 3rem;
  color: blue;
  top: 85px;
  left: 215px;
}

#two {
  position: absolute;
  font-size: 3rem;
  color: blue;
  top: 85px;
  left: 585px;
}
#three {
  position: absolute;
  font-size: 3rem;
  color: blue;
  top: 85px;
  left: 985px;
}
#four {
  position: absolute;
  font-size: 3rem;
  color: blue;
  top: 340px;
  left: 215px;
}
#five {
  position: absolute;
  font-size: 3rem;
  color: blue;
  top: 340px;
  left: 585px;
}
#six {
  position: absolute;
  font-size: 3rem;
  color: blue;
  top: 340px;
  left: 985px;
}



/*  END REASONS SECTION  */


/* START REVIEW SECTION */


.Talks {
  position: absolute;
  left: 410px;
  margin-top: 40px;;
}
.Talks h2 {
  font-size: 2.7rem;
}
.Talks p {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
 margin-right: 10px;;
 font-size: 1.4rem;
}

#end {
  display: flex;
  justify-content: center;
  margin-top: 110px;;
  gap: 1.3rem;
  align-items: center;
}
.card3 {
  padding: 70px 50px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}
.card3:hover {
  transform: translateY(-20px);
}
.pics {
  position: relative;
  top: -20px;
}
.star i {
   position: relative;
  top: -7px;
  bottom: 4px;
  color: gold;
}
.card3 ~ h5 {
  color: white;
}


/* END REVIEW SECTION */



/* Cta */

.call-to-act {
  background-color: blue;
  padding: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}
.call-to-act > .cta {
 color: white;
}
.cta {
    text-align: center;
}
.cta h3 {
  font-size: 2.5rem;
}
.cta p {
  font-size: 1.3rem;
font-weight: 300;
}
.ctass {
  background-color: rgb(3, 3, 126);
  padding: 10px 55px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  border: 3px solid white;
  transition: 0.3s ease-in;
}
.ctass:hover {
  color: black;
  background-color: white;
}
.ctass:hover i {
  color: black;
}

#cta {
  position: absolute;
  top: 244px;
  text-align: center;
  align-items: center;
  right: 558px;
}

/* Cta */

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news {
  text-align: center;
  align-items: center;
  position: relative;
}
.news h3 {
  font-size: 2.4rem;
  font-family: Arial;
}
.news p {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin-top: 10px;;
}

.ctr {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 6px;
}
#email {
  padding: 15px 160px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #FFF;
  background-color: white;
}
#email::placeholder {
 text-align: start;
 padding: 0;
}
.btn {
  text-decoration: none;
  font-size: 1rem;
  padding: 9px 15px;;
  background-color: blue;
  border-radius: 14px;
  position: absolute;
  left: 376px;
  top: 6px;
  color: white;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  border: 3px solid blue;
  color: black;
  background-color: transparent;
}

/* START FOOTER SECTION */

.footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  background-color: white;
  padding: 100px;
  height: 240px;
  width: 100%;
  justify-content: center;
}

.tops {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 100px;
}
.tops h4 {
  font-size: 1.4rem;
  font-family: Arial;
}
#foot i {
  color: blue;
  font-size: 2rem;
}
.div-a {
  position: absolute;
  right: 0;
  left: 80px;
  top: 80px;
}
.div-a p {
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Arial;
}
.div-b {
position: absolute;
right: 795px;
top: 44px;
}
.div-b h3 {
font-size: 1.3rem;
}
.div-bb {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
   display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Arial;
}
.div-c {
position: absolute;
right: 545px;
top: 44px;
}
.div-c h3 {
font-size: 1.3rem;
}
.div-cc {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
   display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Arial;
}

.div-d  {
position: absolute;
right: 250px;
top: 44px;
color: black;
}
.div-dd {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
   display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Arial;
}




























































/* END FOOTER SECTION */