*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: bisque;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* START NAVBAR SECTION */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  padding: 4px;
    width: 100%;
    position: sticky;
    top: 0;
}
.logo {
    cursor: pointer;
}
.inputs {
  align-items: center;
   align-items: center;
}
.inputs .search {
 position: relative;
  left: 490px; 
  font-size: .9rem;
  color:rgb(0, 0, 0);
  top: 0px;
    cursor: pointer;
}
.inputs .search:hover {
  color: rgb(24, 101, 232); 
}
.inputs input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 500px;
}
input::placeholder{
  padding: 17px;
}
.dropdowns {
  cursor: pointer;
}
.dropdowns #dropdown {
  font-size: .9rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color:rgb(24, 101, 232); ;
  cursor: pointer;
  margin-right: -39px;
}
.dropdowns #dropdown option {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 100px;
}
.container {
  margin-right: 30px;
  display: flex;
  gap: 13px;
   align-items: center;
}
i {
  color: rgb(24, 101, 232);
   display: flex;
  gap: 2px;
}
span {
  color: white;
  font-weight: 500;
}
/* END NAVBAR SECTION */

/* START HERO SECTION */
.bg {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.container-1 {
  position: relative;
}
.center {
  position: absolute;
  top: 150px;
  font-size: 3rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  left: 220px;
  justify-content: center;
  z-index: 999;
  color: rgb(24, 101, 232);;
}
.center-1 {
  position: absolute;
  top: 228px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  left: 400px;
  justify-content: center;
  z-index: 999;
  color: rgb(0, 0, 0);;
}
.center-2 {
  position: absolute;
  top: 295px;
  font-weight: 600;
  font-family: calibri;
  left: 570px;
  justify-content: center;
  z-index: 999;
}
.center-2 a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  padding: 15px;
  border-radius: 7px;
  transition: 0.5s ease-in-out;
}
.center-2 a:hover {
  color: rgb(24, 101, 232);
  background-color: white;
}

/* START HERO SECTION */