*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: bisque;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* START NAVBAR SECTION */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  padding: 4px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}
.logo {
    cursor: pointer;
}
.inputs {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.inputs .search {
 position: absolute;
  left: 545px; 
  font-size: 1rem;
  color:rgb(0, 0, 0);
  top: 10px;
    cursor: pointer;
    z-index: 999;
}
.inputs .search:hover {
  color: rgb(24, 101, 232); 
}
.inputs input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 500px;
  position: relative;
  left: 80px;
}
input::placeholder{
  padding: 17px;
}
ul {
  overflow: hidden;
  background-color: rgb(24, 101, 232); 
  border-radius: 5px;
  list-style-type: none;
  margin-left: 150px;
}
li{
  float: left;
}
 li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 7px 16px;
text-decoration: none;
}

li a:hover, .drop-content:hover .dropbtn {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}
li.dropdown{
  display: inline-block;
}
.drop-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
}
.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .drop-content{
  display: block;
}

.container {
  margin-right: 35px;
  display: flex;
  gap: 13px;
   align-items: center;
   cursor: pointer;

}
i {
  color: rgb(255, 255, 255);
   display: flex;
  gap: 2px;
}

#blue {
  color: rgb(24, 101, 232);
  font-weight: 500;
}
/* END NAVBAR SECTION */

/* START HERO SECTION */
.bg {
  width: 100%;
  height: 600px;
  opacity: 0.9;
}
.container-1 {
  position: relative;
  z-index: 0;
}
.center {
  position: absolute;
  top: 200px;
  line-height: 5px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  left: 270px;
  justify-content: center;
  z-index: 999;
  color: rgb(255, 255, 255);
}
.center-1 {
  position: absolute;
  top: 240px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  left: 425px;
  justify-content: center;
  z-index: 999;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}
.center-2 {
  position: absolute;
  top: 320px;
  font-weight: 600;
  font-family: calibri;
  left: 570px;
  justify-content: center;
  z-index: 999;
}
.center-2 a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(24, 101, 232);;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.center-2 a:hover {
  color: rgb(11, 69, 169);
  background-color: white;
}
/* START HERO SECTION */

/* START CATEGORY SECTION  */

.SECTION {
  margin: 3vw;
  padding: 3vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
.SECTION  h3 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
}
.SECTION  p {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 13px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
.card {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.product1 {
  margin-left: 10px;;
  background-color: rgb(24, 106, 178);
  max-width: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 18px;
  border-radius: 10px;
  align-items: center;
  position: relative;
}
.card .product1:hover {
  background-color: rgb(47, 154, 247);
  border: 3px solid white;
  transform: translate(10px, 10px);
}
.card:hover i  {
  color: rgb(4, 39, 100);
  font-size: 1.2rem;
}
.name1 {
  position: absolute;
  left: 195px;
  top: 135px;
  right: 0px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}
 .name2 {
  position: absolute;
  left: 343px;
  top: 135px;
  right: 0px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}
.name3 {
  position: absolute;
  left: 523px;
  top: 140px;
  right: 0px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
}
.name4 {
  position: absolute;
  left: 690px;
  top: 140px;
  right: 0px;
 font-size: 1.1rem;
 color: rgb(255, 255, 255);
}
.name5 {
  position: absolute;
  left: 873px;
  top: 140px;
  right: 0px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
} 

.arrow-1 {
  position: absolute;
  color: rgb(171, 0, 0);
  z-index: 999;
  left: 250px;
  top: 10%;
   cursor: pointer;
}
.arrow-2 {
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 999;
  left: 419px;
  top: 10%;
   cursor: pointer;
}
.arrow-3 {
  position: absolute;
  color: black;
  z-index: 999;
  left: 590px;
  top: 10%;
   cursor: pointer;
}
.arrow-4 {
  position: absolute;
  color: black;
  z-index: 999;
  left: 760px;
  top: 10%;
   cursor: pointer;
}
.arrow-5 {
  position: absolute;
  z-index: 999;
  left: 930px;
  top: 10%;
  cursor: pointer;
}


/* END CATEGORY SECTION */